/* RESET E GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url("../image/SpacePlanets.gif");
  background-size: cover;
  /* backdrop-filter: blur(1px); */
}

/* ESPAÇAMENTOS */
.container,
.hdr-box,
.main-content,
.ftr {
  display: flex;
  align-items: center;
}

.container,
.main-content {
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100vh;
}

.hdr-box {
  margin: 1% 0;
  justify-content: center;
}

.hdr-img-logo {
  width: 9%;
}

.main-content {
  width: 100%;
  height: auto;
}

.artc {
  width: 60vw;
  height: 64vh;
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.7);
  margin: 3%;
}

.artc-img__nasa,
.artc-vd__nasa {
  display: none;
  width: 25%;
  height: 25%;
}

.ftr {
  font-size: 0.9rem;
  width: 100%;
  height: 3%;
  justify-content: center;
}

/* CORES, EFEITOS E AFINS */
.artc,
.ftr {
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(8px);
}