/* RESET E GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace, "Courier New", Courier;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url("../image/SpacePlanet.gif");
  background-size: cover;
}

/* ESPAÇAMENTOS, CAIXAS E AFINS */
.container,
.hdr-box,
.main-content,
.ftr,
.artc {
  display: flex;
  align-items: center;
}

.container,
.main-content,
.artc {
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

.hdr-box,
.sect {
  justify-content: center;
}

.hdr-box {
  margin: 0.5% 0;
}

.hdr-img-logo {
  width: 6%;
}

.main-content {
  width: 100%;
  height: 100%;
}

.sect {
  width: 100%;
  text-align: center;
}

.artc {
  border-radius: 5px;
  visibility: hidden;
  width: 60%;
  height: 100%;
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.7);
  margin: 1% 0;
}

.artc-ttl__nasa,
.artc-txt__nasa {
  padding: 0.5% 1%;
}

.artc-ttl__nasa {
  align-self: flex-start;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.artc-txt__nasa {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.artc-img__nasa,
.artc-vd__nasa {
  margin-top: 0.5%;
  width: 25%;
  height: 35%;
  border-radius: 4px;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.2), 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.ftr {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  font-size: 0.9rem;
  width: 100%;
  height: 20px;
  justify-content: center;
}

/* CORES, EFEITOS E AFINS */
.link {
  text-decoration: none;
  color: rgba(255, 137, 137, 0.6);
  transition: 0.3s;
}

.link:hover {
  color: rgba(255, 137, 137, 0.9);
}

.link:visited {
  color: rgb(255, 137, 137);
}

.artc,
.ftr {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px) saturate(150%);
}

.hdr-txt {
  font-size: 2rem;
  background: -webkit-linear-gradient(
    360deg,
    rgba(0, 81, 255, 0.8),
    rgba(255, 137, 137),
    rgba(0, 81, 255, 0.8)
  );
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: colorista 10s linear infinite;
}

#date {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: inset 0 3px 5px rgb(0, 0, 0, 0.65);
  border: 3px solid rgba(0, 140, 255, 0.3);
  transition: 0.3s;
}

#date:focus {
  outline: none;
  border: 3px solid rgb(0, 140, 255);
}

.sect-btn {
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.65);
  padding: 0.5em 0.7em;
  font-size: 0.9rem;
  border-radius: 0.3em;
  box-shadow: inset 1px 1px 2px rgb(255, 255, 255),
    inset -1px -1px 3px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}

.sect-btn:hover {
  box-shadow: inset 2px 3px 3px rgb(255, 255, 255),
    inset -2px -3px 4px rgb(255, 255, 255), 0 0 4px rgb(255, 255, 255);
}

.sect-btn:active {
  box-shadow: inset 0 1px 3px rgb(255, 255, 255),
    inset 1px 0 3px rgb(255, 255, 255), 1px 1px 4px rgb(255, 255, 255);
}

@keyframes colorista {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

/* uma leve pitada de responsividade */
@media only screen and (max-width: 700px) {
  .hdr-img-logo {
    width: 11%;
  }

  .hdr-box,
  .artc,
  .sect {
    margin-top: 5%;
  }

  .hdr-txt {
    font-size: 1.4rem;
  }

  .sect {
    order: 1;
    align-self: flex-end;
  }

  .artc {
    order: 0;
    width: 92%;
    height: 85%;
  }
  
  .artc-ttl__nasa {
    font-size: 1rem;
  }
  
  .artc-txt__nasa {
    font-size: 0.75rem;
  }
  
  .artc-img__nasa,
  .artc-vd__nasa {
    margin: auto 50%;
    width: 60%;
    height: 30%;
  }
}